@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --transition-duration: 0.3s;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
.bgtheme{
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(0, 0%, 98%);
    transition: background-color var(--transition-duration),
        color var(--transition-duration),
        opacity var(--transition-duration),
        transform var(--transition-duration);
    opacity: 1;
    transform: translateY(0);
}
.bgtheme-dark{
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(235, 21%, 11%);
    transition: background-color var(--transition-duration),
        color var(--transition-duration),
        opacity var(--transition-duration),
        transform var(--transition-duration);
    opacity: 1;
    transform: translateY(0);
}
.dark-theme {
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(235, 21%, 11%);
    transition: background-color var(--transition-duration),
        color var(--transition-duration),
        opacity var(--transition-duration),
        transform var(--transition-duration);
    opacity: 1;
    transform: translateY(0);
}

.light-theme {
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 0%, 98%);
    transition: background-color var(--transition-duration),
        color var(--transition-duration),
        opacity var(--transition-duration),
        transform var(--transition-duration);
    opacity: 1;
    transform: translateY(0);
}
.todo-container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 25rem;
    margin-top: 7rem;
}
.auth-container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 25rem;
}
.todo-container h2 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 10px;
}
.todo-container img{
    width: 1.4rem;
}
.input-box{
    width: 35rem;
    height: 4.5rem;
}
.box-container{
    display: flex;
}
.input-box img:hover{
cursor: pointer;
}

.input-box input[type="checkbox"] {
    display: none;
}
.checkmark {
    position: relative;
    display: inline-block;
    width: 20px; 
    height: 20px; 
    left: 0;
    top: 0;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: transparent; 
  }

  .flex.items-center input[type="checkbox"]:checked + .checkmark {
    background: linear-gradient(hsl(192,100%,67%),hsl(280,87%,65%)); 
  }
  .checkmark:hover{
    cursor: pointer;
    border: 1px solid hsl(280,87%,65%);
  }
.last-box{
    width: 35rem;
    height: 3.4rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.sections{
    gap: 10px;
}
.sections p:hover{
    color: hsl(235, 19%, 35%);
    cursor: pointer;
}
.check-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-img img{
    width: 9px;
    height: 8px;
}
